@model MessageBoardApp.Models.UserLogin
@{
    ViewData["Title"] = "ViewUser";
}

<h1>ViewUser</h1>
<h4>User Id</h4>
@Model.UserId
<h4>Name</h4>
@Model.UserName
<h4>Message</h4>
@Model.MessageContent



